<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="serviceName" value="TTSService" />
    <add key="serviceDescription" value="Text to speech Service" />
    <add key="ServiceUrl" value="http://Localhost:3010/" />
    <add key="DirectoryFile" value="SERVERDATA\web\sonos\audio"/>
    <add key="SonosIp" value="192.168.1.55"/>
    <add key="SonosPort" value="1400"/>
  </appSettings>
</configuration>
